@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*html element styling */
html{
    
    font-size: 62.5%;    /* 62.5% = 10px */
}
body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;

}


ul li{
    list-style: none;
}

a{
    font-size: 1.6rem;
    text-decoration: none;
} 

p,li{
    font-size: 1.6rem;
    margin-bottom: 0.5em;  /*margin bottom will be 50% of its font size(i.e 1.6rem(16px))=8px*/
    letter-spacing: 0.15em;
}

h1,h2,h3{
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
    font-weight: 500;
}

/*Utility Classes*/

.container{
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;  /*centre*/
}

.lg-heading{   /*large-heading*/
    font-size: 3.5rem;
}

.md-heading{  /*medium-heading*/
    font-size: 2.2rem;
}

.text-red{
    color: #e63946;
}
.text-light{
    color: #f4f4f4;
}
.text-black{
    color: #333333;
}
.text-grey{
    color: #555555;
}
/*For button*/
.btn{

    display: inline-block;
    padding: 0.5em 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.5em 0;
}
.btn-primary{
    background-color: white;
    border-radius: 10rem;
}
.btn-primary:hover{
    background-color: #e63946;
    color: #fff;
}



/*header styling */
.header{
    position: relative;
    height: 95vh;
    background: linear-gradient(rgba(0,0,0,0.05),rgba(0,0,0)),url('../img/Header1.jpg');    /*in rgba(0,0,0,0.05) 4th value i.e 0.05 is used for opacity*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.navbar{
    padding: 1rem;
}
.header .navbar .logo{
    float: left;
    /*font-size: 3.5rem;    3.5rem =35x OR we can use utility class */
}
.header .navbar .nav-items{
    float: right;
    margin-top: 1rem;
}
.header .navbar .nav-item{
    display: inline-block;
    padding: 1rem;
    text-transform: uppercase;
}
.navbar a:link,.navbar a:visited{
    color:#f4f4f4;
}
.navbar a{
    padding-bottom: 0.3rem;
}
.navbar a:hover{
    border-bottom: 1px solid #fff;
}
.navbar::after{   /*when we add float,do this*/
    content: '';
    display: block;
    clear: both;
}

/*header content style*/
.header-content{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-300%);
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0,0.05),rgba(0, 0, 0, 0));
}
.header-content h1{ 
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
}
.header-content p{
    position: relative;
    text-transform: uppercase;
}


/*animation*/
.header-content{
    display: inline-block;
    position: relative;
    animation: content 1.2s forwards 1 ease-in-out;
}
@keyframes content {
    0%{
        top: 0%;
        left: 50%;
    }
    100%{
        top:110%;
        left: 50%;
    }
    
}


/*showcase section-------*/
/*utility for section*/
.row{
    height: 350px;
    background: #fff;
    box-shadow: 0px 0px 20px 0px #0000008b;
}

/*row 1 ki image and row2 ki text float hai left me*/

.showcase{
    background: #ddd;
    padding:10rem 0;
}
.row1{
    margin-bottom: 10rem;
}

.row1 .imgbox,.row2 .textbox{
    float:left;
    width: 50%;
}
.row2 .imgbox,.row1 .textbox{
    float:right;
    width: 50%;
}
.row .imgbox{
    
    height: 100%;   /*100% height of its parent i.e 350px*/

}
.row .textbox{
    border: 2px solid red;
    height: 100%;
    padding:3rem;
}

.row .imgbox img{
    display: inline-block;
    width: 100%;
    height: 100%;
    /*if the display size is change,the aspect ratio of the image should not change,for that we use the below attribute*/
    object-fit: cover;
}
.btn-sec{
    border: 2px solid #e63946;
    border-radius: 1.5em;
    color: #e63946;
    background-color: #fff;
}
.btn-sec:hover{
    background-color: #e63946;
    color: #fff;
}
.row::after{
    content: '';
    display: block;
    clear: both;
}

/*feature section*/
.features{
    padding: 10rem 0;

}

.box-wrap{
    box-shadow: 0px 0px 20px #00000085;
}


.box{
    width: 33.333333333%;
    float: left;
    padding: 2rem;
    text-align: center;
}
.box1
{
    background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(128,248,174,1) 0%, rgba(223,244,148,1) 90% );
    
}
.box2{
    background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(253,193,104,1) 0%, rgba(251,128,128,1) 90% );
    
}
.box3{
    background: linear-gradient( 109.6deg,  rgba(5,84,94,1) 16%, #bbb 91.1% );
   
}

.box-wrap::after{
    content: '';
    display: block;
    clear: both;
}

/*footer stylng*/
.footer{
    background:#263238;
    color: #f4f4f4;
    padding: 2rem;
    text-align:center;

}
.social-links i{
    margin: 2rem;
}


